

body{
    background-color: rgb(236, 232, 232);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

main{
    background-color: rgb(216, 212, 212);
    position: absolute;
    padding: 15px;
    border-radius: 20px;
    width: 50vw;
    height: 34vh;
    margin-top: 30vh;
}


.fondo{
    margin-bottom:  10px;
    padding: 5px;
    text-align: center;
    
}

.fondo img{
    width: 200px;
    height: 120px;
}

form input{
    width: 30vw;
    height: 4vh;
    border: 1px solid rgb(110, 172, 243);
    border-radius: 5px;
}

.conver{
   width: 12vw;
   height: 4vh;
   display: inline-block;
   border-radius: 5px;
   border: 1px solid rgb(110, 172, 243);
}

.conver-1{
    margin-left: 3vw;
}

.conver-2{
    height: 4vh;
    width: 10vw;
    float: right;
    background-color: green;
    color: white;
    margin-right: 3vw;
}

#Result{
    color: rgb(0, 0, 0);
    list-style: none;
    margin-left: 10vw;
}